.container {
  background-color: #ccffcc;
}

.title {
  width: 100%;
  text-align: center;
  top: 0%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 120px;
  background-color: #F1F1F1;
  padding: 1em 1em;
  height: 100%;
}

.cardWrap {
  width: 45%;
}

.cardContent {
  width: 100%;
  display: block;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;
}

.cardContent:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 34px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transition: all .5s;
}

.cardTitle {
  font-size: 1.6em;
  padding-left: 1em;
  padding-top: .5em;
  color: #333;
  font-weight: 700;
}

.cardTxt {
  color: #777;
  font-size: 20px;
  padding-left: 1em;
  padding-bottom: 1em;
}

.threadWrap {
  width: 80%;
  margin: 0 auto 120px;
  background-color: #F1F1F1;
  padding: 1em 1em;
  height: 100%;
}

.sendText {
 margin: 0 auto;
 width: 90%;
}

.formContainer {
  margin-top: 80px;
}

.inputName {
  display: block;
  width: 8em;
  height: 2em;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nameBox {
  display: flex;
  color: #008000;
  font-weight: bold;
}

.inputText {
  display: block;
  width: 100%;
  height: 8em;
  margin-bottom: 40px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.inputName:focus,
.inputText:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #0070f3 inset;
}

@media (max-width: 800px) {
  .content {
    width: 90%;
    display: block;
  }
  .cardWrap {
    width: 80%;
    margin: 0 auto;
  }
}
